NEXT_PUBLIC_URL=http://localhost:3001

CLERK_SECRET_KEY=sk_test_lUSfSQ47Ubm4sMHVtBb3GsGGg4O8oT635pBL4MaooL
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_YW1hemluZy1jYXJkaW5hbC00OS5jbGVyay5hY2NvdW50cy5kZXYk

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

NEXT_PUBLIC_SANITY_PROJECT_ID=